@using BiciSendas.Resources
@using NonFactors.Mvc.Grid
@model BiciSendas.Areas.Monitorizacion.Models.Sensores.SensorIndexVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Sensor";
    
    <div class="container d-flex flex-column">
        <div class="row">
            <div class="col-lg-2 ps-0">
                @Html.LabelFor(m => m.Categorias, null, new { @class="col-form-label"})
                @Html.DropDownListFor(m => m.Categoria, Model.Categorias, new{ @class="form-select"})
            </div>
        </div>
    </div>

    <div id="ListaSensores" class="col-lg-12 mt-4">
        @Html.AjaxGrid(Url.Action("CargarSensores", "Sensor", new { Area = "Monitorizacion" })!)
    </div>
    @*modal gráfico*@
}