@model List<BiciSendas.Areas.Monitorizacion.Models.Incidencias.IncidenciaGridVM>
@using NonFactors.Mvc.Grid

@{
    @(Html
            .Grid(Model)
            .Id("gridIncidencias")
            .Build(columns =>
            {
                columns.Add(model => model.Identificador);
                columns.Add(model => model.TipoIncidencia);
                columns.Add(model => model.Poblacion);
                columns.Add(model => model.Direccion);
                columns.Add(model => model.FechaIncidencia).Formatted("{0:d}");
                columns.Add(model => model.Estado).RenderedAs(model => "<span style='" + (model.IdEstado == 1 ? "color: green" : (model.IdEstado == 2 ? "color:orange" : "color:red")) + "'>" + model.Estado + "</span>").Encoded(false);
                columns.Add(model => "<button class='btnVer btn btn-primary fa-solid fa-magnifying-glass' data-id=\"" + model.Identificador + "\">").Encoded(false).Css("text-center").AsAttributes();
            })
            .Empty("No data found")
            .Pageable(pager =>
            {
                pager.PageSizes = new Dictionary<Int32, String> { { 0, "Todo" }, { 5, "5" }, { 10, "10" }, {20, "20"} };
                pager.ShowPageSizes = true;
                pager.PagesToDisplay = 5;
                pager.CurrentPage = 1;
                pager.RowsPerPage = 5;
            })
            .Sortable()
            .Css("css-classes") // Overwrites all classes with the new ones
            .AppendCss("table-hover") // Appends classes to the current ones
        )
}

